<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2> Welcome to Weather Checker</h2>
    <form action="", method="POST">
        Enter City name: <input type="text" name="city" value=""><br />
        <input type="submit" value="Check">
        </form>
        
        
</body>
</html>